<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Amelia Earhart</title>
</head>
<body>
    <div>
        <h1>¿Quién fue Amelia Earhart?</h1>
    </div>
    <div>
        <h2>Biografía</h2>
        <p>
            Amelia Mary Earhart nació en Atchison, Kansas. Fue una aviadora estadounidense, célebre por sus marcas de vuelo y por intentar el primer viaje aéreo alrededor del mundo sobre la línea ecuatorial.
            Durante la Primera Guerra Mundial se enroló como voluntaria en labores de enfermería junto a su hermana en la ciudad de Toronto, Canadá, donde atendió a los pilotos heridos en combate. 
            También aprovechó la ocasión para visitar un campo del Cuerpo Aéreo Real. Para 1920 Amelia asistió a un espectáculo aéreo en Long Beach y quedó prendada definitivamente de los aviones. 
            Consiguió que la llevaran a bordo de un biplano en el que voló durante diez minutos sobre Los Ángeles. Sus palabras acerca de esta experiencia fueron: "Tan pronto como despegamos sabía que tendría que volar de ahora en adelante".
        </p>
        <p>
            Sus primeras clases de aviación las obtuvo de la instructora Neta Snook, otra piloto pionera. Para 1923 obtuvo la licencia de piloto de la Federación Aeronáutica Internacional, siendo la decimosexta mujer de su país en recibirla.
            En 1927 se unió a la Asociación Aeronáutica Nacional (capítulo Boston). Se dedicó a invertir dinero para construir una pista de aterrizaje, vendió aviones Kinner y promovió la aviación, especialmente entre mujeres. 
            El Boston Globe la reconocía como una de las mejores pilotos de Estados Unidos.
        </p>
        <p>
            En 1935 comenzó a planear hacer un viaje alrededor del mundo. El Lockheed Electra 10E fue la máquina elegida. De realizarlo marcaría dos hitos: la primera mujer en hacerlo y la mayor distancia posible circunnavegando el globo en su ecuador. 
            Según ella era el vuelo que le quedaba por realizar. El 2 de julio de 1937 a las 7:20 GMT reportó su posición a 232 kilómetros al suroeste de las Islas Nukumanu. A las 8:00 GMT hizo su último contacto de radio con Lae donde se les comunicó que el avión volaba en curso a la Isla Howland a 
            3,657 metros de altura. Sin embargo nunca se supo el rumbo que siguió tras alcanzar Nukumanu.
        </p>
        <p>
            A las 20:14 GMT el guardacosta recibió el último mensaje dando su posición; hacia las 21:30 GMT determinaron que el avión pudo haberse estrellado en el mar y entonces comenzó la búsqueda.
            Se ha establecido que el aeroplano cayó de 56 a 160 kilómetros de la costa de la isla Howland. De acuerdo con los expertos se cree que el avión pudo haber flotado debido a los tanques vacíos. 
            El presidente Franklin D. Roosevelt autorizó la búsqueda con 9 barcos y 66 aviones, una operación de un costo de 4 millones de dólares. Alrededor del 18 de julio el rastreo fue abandonado en el área de Howland.
            En enero de 2018 se publicó un estudio científico que reexaminó restos óseos descubiertos en 1940, y asegura que Amelia murió como náufrago en la isla de Nikumaroro (donde se encontraron los huesos), a medio camino entre Hawái y las Islas Salomón.
            Sin embargo, de esto se tiene poca evidencia fidedigna.
        </p>
    </div>

    <div id="buttons" class="button">
        <button><a href="/">Regresar a página principal</a></button>
        <button><a href="/galery">Galería</a></button>
        <button><a href="/records">Records</a></button>
        </div>
</body>
</html>