<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Amelia Earhart</title>
</head>
<body>
    <div>
        <h1>Galería Fotográfica</h1>
    </div>
    <div>
        <h2>De 1918 a 1937</h2>
    </hr>
    </div>
        <div id="img" class="box">
            <span>
            <img src="../images/above.jpeg">
            </span>
            <span>
            <img src="../images/ae.jpeg">
            </span>
            <span>
            <img src="../images/amelia-color.jpeg">
            </span>
        </div>
    

    <div id="buttons" class="button">
        <button><a href="/">Regresar a página principal</a></button>
        <button><a href="/about">¿Quién fue Amelia?</a></button>
        <button><a href="/records">Records</a></button>
    </div>

    <div id="bot" class="container" >
        <img src="../images/redplane.png">
    </div>
</body>
</html>