<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Amelia Earhart</title>
</head>
<body>
    <div>
        <h1>Records</h1>
    </div>
    <div>
        <ul>
            <li>1922 — Feminine altitude record of 14,000 feet.</li>
            <li>1928 — First woman to fly across the Atlantic as a passenger in the Fokker F.VII Friendship.</li>
            <li>1929 / 1930 — Feminine speed record.</li>
            <li>1931 — First woman to fly an autogiro.</li>
            <li>1931 — Autogiro altitude record of 18,415 feet.</li>
            <li>1932 — First woman (and only the second person) to fly solo and nonstop across the Atlantic. Also first person to cross the Atlantic twice by air.</li>
            <li>1932 — First woman to fly solo and nonstop across the United States.</li>
            <li>1933 — Reset her transcontinental record.</li>
            <li>1935 — First person to fly solo from Honolulu, Hawaii, to the U.S. mainland (Oakland, California).</li>
            <li>1935—Speed record between Mexico City and Washington, D.C.</li>
            <li>1935 — First person to fly solo from Mexico City to Newark, New Jersey.<li></li>
        </ul>
    </div>

    <div id="buttons" class="button">
        <button><a href="/">Regresar a página principal</a></button>
        <button><a href="/about">¿Quién fue Amelia?</a></button>
        <button><a href="/galery">Galería</a></button>
        </div>
        <div id="bot" class="container" >
            <img src="../images/ae-sticker.png">
        </div>
</body>
</html>